/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************************* */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --bg-color: #fbf1c7;
  --container-bg-color: #f9f5d7;
  --container-border-color: #d5c4a1;
  --hdg-color: #3c3836;
  --border-color: #d5c4a1;

  --project-active-color: #282828;
  --project-bg-color: var(--border-color);

  --text-color: #3c3836;

  --input-bg-color: var(--bg-color);
  --input-text-color: var(--project-active-color);
  --input-border-color: #a89984;

  --task-title-color: #076678;
  --task-description-color: #427b58;
  --task-date-color: #8f3f71;
  --task-priority-color: #af3a03;

  --delete-hover-color: #9d0006;

  --selection-bg-color: #af3a03;
  --selection-text-color: #f9f5d7;
}

:root.dark {
  --bg-color: #282828;
  --container-bg-color: #1d2021;
  --container-border-color: #504945;
  --hdg-color: #ebdbb2;
  --border-color: #504945;

  --project-active-color: #fbf1c7;
  --project-bg-color: var(--border-color);

  --text-color: #ebdbb2;

  --input-bg-color: var(--bg-color);
  --input-text-color: var(--project-active-color);
  --input-border-color: #7c6f64;

  --task-title-color: #83a598;
  --task-description-color: #8ec07c;
  --task-date-color: #d3869b;
  --task-priority-color: #fe8019;

  --delete-hover-color: #fb4934;
}

body {
  font-family: "JetBrains Mono", monospace;
  padding: var(--size-7);
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  position: relative;
  max-width: 42rem;
  padding: var(--size-4) var(--size-6);
  margin-inline: auto;
  border: 1px solid var(--container-border-color);
  border-radius: var(--radius-2);
  background-color: var(--container-bg-color);
}

.theme-switch {
  position: absolute;
  top: var(--size-2);
  right: var(--size-2);
}

.logo {
  font-size: var(--font-size-5);
  font-style: italic;
  letter-spacing: var(--font-letterspacing-3);
  font-weight: var(--font-weight-7);
  margin-block-end: var(--size-7);
}

h1,
h2,
h3 {
  color: var(--hdg-color);
}

/* **************** */
/* Projects Section */
.projects {
  margin-bottom: var(--size-8);
}

.projects-heading {
  margin-bottom: var(--size-2);
}

.projects-title {
  text-decoration: underline;
  margin-bottom: var(--size-2);
}

.btn {
  background: none;
  border: var(--border-size-1) solid var(--border-color);
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-2);
  cursor: pointer;
  color: var(--text-color);
}

.btn:hover {
  background-color: var(--project-active-color);
  color: var(--project-bg-color);
}

.btn:active {
  background-color: var(--text-color);
}

.btn-emp,
.btn-save,
.btn-edit-save {
  background-color: var(--project-active-color);
  color: var(--project-bg-color);
}

.btn-add-project {
  width: 100%;
}

.project-form {
  display: flex;
  gap: var(--size-2);
  width: 100%;
}

#project-name {
  flex: 1;
  padding-inline: var(--size-2);
  border-radius: var(--radius-2);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.projects-list > a {
  text-decoration: none;
}

.projects-list > a:hover,
.projects-list > a:active {
  text-decoration: none;
  border: var(--border-size-1) solid var(--border-color);
  background-color: var(--project-active-color);
  color: var(--project-bg-color);
}

.project {
  border: var(--border-size-1) solid var(--border-color);
  background-color: var(--project-bg-color);
  color: var(--text-color);
  border-radius: var(--radius-2);
  padding: var(--size-1) var(--size-4);
  letter-spacing: var(--font-letterspacing-2);
}

.active {
  border: var(--border-size-1) solid var(--border-color);
  background-color: var(--project-active-color);
  color: var(--project-bg-color);
}

/* *************** */

input,
select {
  background-color: var(--input-bg-color);
  border: var(--border-size-1) solid var(--input-border-color);
  border-radius: var(--radius-2);
  color: var(--input-text-color);
}

/* ************** */
/* Tasks Section */
.tasks {
  margin-top: var(--size-4);
}

.tasks-heading {
  text-decoration: underline;
  margin-bottom: var(--size-2);
}

.tasks-list {
  margin-top: var(--size-3);
}

.btn-add-task {
  width: 100%;
}

.task {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  border: var(--border-size-1) solid var(--border-color);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  margin-bottom: var(--size-3);
  font-weight: var(--font-weight-7);
}

.task-title {
  color: var(--task-title-color);
}

.task-desc {
  color: var(--task-description-color);
}

.task-due {
  color: var(--task-date-color);
}

.task-priority {
  color: var(--task-priority-color);
}

.task:hover {
  outline: 2px solid;
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: var(--container-bg-color);
  margin: 0;

  font: inherit;
  color: currentColor;
  width: var(--size-5);
  height: var(--size-5);
  border: 0.15em solid currentColor;
  border-radius: var(--radius-2);
  /* transform: translateY(-0.075em); */

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: var(--size-3);
  height: var(--size-3);
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--project-active-color);
  border-radius: var(--radius-1);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.task-details {
  display: flex;
  gap: var(--size-2);
  flex: 1;
}

.task-info {
  margin-left: auto;
  text-align: end;
}

.btn-edit {
  border: none;
}

/* Add Task Form */

.add-task-form,
.edit-task-form {
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-3);
  margin-block: var(--size-3);
  border-radius: var(--radius-2);
}

.add-task-form input,
.add-task-form select,
.edit-task-form input,
.edit-task-form select {
  width: 100%;
  padding: var(--size-1);
}

.add-task-form label,
.edit-task-form label {
  display: block;
}

.add-task-form div,
.edit-task-form div {
  flex: 1;
}

.add-task-form button,
.edit-task-form button {
  padding: var(--size-1) var(--size-2);
  cursor: pointer;
  width: var(--size-11);
}

.form-buttons-container {
  align-self: end;
}

.delete {
  display: block;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  margin-top: var(--size-7);
  margin-inline: auto;
  border-radius: var(--radius-2);
}

.delete:hover {
  outline: 3px dotted var(--delete-hover-color);
  color: var(--delete-hover-color);
}

::selection {
  background-color: var(--selection-bg-color);
  color: var(--selection-text-color);
}

@media only screen and (max-width: 585px) {
  .task-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .task-info {
    margin: 0;
    text-align: center;
  }

  body {
    padding: var(--size-2);
  }

  .container {
    padding: var(--size-2);
  }

  .project-form {
    flex-direction: column;
  }

  #project-name {
    padding: var(--size-1) var(--size-2);
  }
}

.hidden {
  display: none;
}
