/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ********************************* */

:root {
  --bg-color: var(--gray-2);
  --container-bg-color: var(--gray-0);
  --container-border-color: var(--gray-5);
  --hdg-color: var(--gray-8);
}

:root.dark {
  --bg-color: var(--gray-8);
  --container-bg-color: var(--gray-7);
  --container-border-color: var(--gray-6);
  --hdg-color: var(--gray-2);
}

body {
  font-family: var(--font-sans);
  padding-inline: var(--size-4);
  background-color: var(--bg-color);
  /* background-image: var(--gradient-23); */
}

.container {
  position: relative;
  max-width: 42rem;
  padding: var(--size-7);
  margin-inline: auto;
  margin-block: var(--size-7);
  border: 1px solid var(--container-border-color);
  border-radius: var(--radius-2);
  background-color: var(--container-bg-color);
  /* background-image: var(--gradient-15); */
}

.theme-switch {
  position: absolute;
  top: var(--size-2);
  right: var(--size-2);
}

.logo {
  font-size: var(--font-size-5);
  margin-block: var(--size-7);
  border-bottom: var(--border-size-1) dashed var(--gray-6);
}

h1,
h2,
h3 {
  color: var(--hdg-color);
}

/* **************** */
/* Projects Section */
.projects {
  margin-bottom: var(--size-2);
}

.projects-heading {
  /* font-size: var(--font-size-4); */
  /* display: flex;
  align-items: center;
  gap: var(--size-2); */
  margin-bottom: var(--size-2);
}

.btn {
  border: var(--border-size-1) solid var(--gray-5);
  padding: var(--size-1) var(--size-3);
  border-radius: var(--radius-3);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--gray-2);
}

.btn:active {
  background-color: var(--gray-3);
}

.add {
  background-color: var(--green-1);
}

.add:hover {
  background-color: var(--green-2);
}

.cancel {
  background-color: var(--red-1);
}

.cancel:hover {
  background-color: var(--red-2);
}

#project-name {
  border: var(--border-size-2) solid var(--gray-7);
  padding-inline: var(--size-2);
  border-radius: var(--radius-3);
}

#project-name:focus-visible {
  outline: var(--border-size-2) solid var(--gray-7);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-2);
}

.projects-list > a {
  text-decoration: none;
}

.projects-list > a:hover,
.projects-list > a:active {
  text-decoration: none;
  border: var(--border-size-1) solid var(--gray-7);
  /* background-color: var(--gray-8); */
  background-image: var(--gradient-23);
  color: var(--gray-0);
}

.project {
  border: var(--border-size-1) solid var(--gray-5);
  background-color: var(--gray-2);
  color: var(--gray-7);
  border-radius: var(--radius-4);
  padding: var(--size-2) var(--size-4);
  letter-spacing: var(--font-letterspacing-2);
}

.active {
  border: var(--border-size-1) solid var(--gray-7);
  /* background-color: var(--gray-8); */
  background-image: var(--gradient-23);
  color: var(--gray-0);
}

/* *************** */

/* ************** */
/* Tasks Section */
.tasks {
  margin-top: var(--size-4);
}

.tasks-heading {
  margin-bottom: var(--size-2);
}

.task {
  display: flex;
  align-items: center;
  gap: var(--size-3);
  border: var(--border-size-1) dashed var(--gray-7);
  border-radius: var(--radius-2);
  padding: var(--size-3);
  margin-bottom: var(--size-3);
}

.task:hover {
  border-style: solid;
  background-image: var(--gradient-23);
  color: var(--gray-0);
}

input[type="checkbox"] {
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  margin: 0;

  font: inherit;
  color: currentColor;
  width: var(--size-5);
  height: var(--size-5);
  border: 0.15em solid currentColor;
  border-radius: var(--radius-2);
  /* transform: translateY(-0.075em); */

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: var(--size-3);
  height: var(--size-3);
  transform: scale(0);
  transition: 60ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--gray-8);
  border-radius: var(--radius-1);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.task-details {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.task-info {
  text-align: end;
}

/* Add Task Form */

.add-task-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  padding: var(--size-3);
  margin-block: var(--size-3);
  border-radius: var(--radius-2);
}

.add-task-form input,
.add-task-form select {
  width: 100%;
  padding: var(--size-1);
}

.add-task-form label {
  display: block;
}

.add-task-form div {
  flex: 1;
}

.add-task-form button {
  padding: var(--size-1) var(--size-2);
  cursor: pointer;
  width: var(--size-11);
}

.form-buttons-container {
  align-self: end;
}

.hidden {
  display: none;
}
